{
  "env": {
    "development": {
      "presets": ["env", "stage-0", "react"],
      "plugins": ["transform-class-properties"]
    },
    "production": {
      "presets": ["env", "stage-0", "react"],
      "plugins": [
        [
          "transform-react-remove-prop-types", {
            "mode": "wrap"
          }
        ]
      ]
    }
  }
}
