sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '8'
before_install:
  - npm i -g npm@^5.8.0
before_script:
  - npm prune
script:
  - npm run test
  - npm run build
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
